<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{content}}</p>
            <footer class="blockquote-footer">Posted by <cite title="Source Title">{{user.username}}</cite> on
                {{format_date date_created}}</footer>
        </blockquote>
    </div>
</div>