<div class="card border-info text-center">
  <div class="card-header py-4">
    Signup
  </div>
  <div class="card-body">
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary btn-lg btn-block">signup</button>
      </div>
    </form>
    <a href="/login">👉 Login Instead 👈</a>
    <p><small>(If you already have an account, login with your email address instead.)</small></p>
  </div>
  <div class="card-footer text-muted">
    Creating an account offers many benefits, such as the ability to add comments to posts, access to a dashboard for
    creating, updating, and deleting posts, and more.
  </div>
</div>

<script src="./js/signup.js"></script>